<p>
  JSON tools allows you to diff objects, merge and overwrite one with another
</p>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Why would I need this?
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>
      If you like me, end up in a project where they use huge nested JSON objects for something.
      And you some times run into issues with version control, then this tool can help you make sure that you keep all of the properties.
    </p>

    <p>
      Or if you want to get the diff between two objects in either direction.
    </p>

    <p>
      Or if you want to just overwrite common values from one JSON object onto another.
    </p>

  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        The stack / Technology used
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      This app is created using Angular and is hosted in an AWS S3 bucket.
    </p>
  </mat-expansion-panel>
</mat-accordion>
