<form [formGroup]="form">
  <mat-form-field class="half-width">
    <textarea class="pre-wrap" matInput formControlName="slave" placeholder="From object"></textarea>
  </mat-form-field>

  <mat-form-field class="half-width">
    <textarea class="pre-wrap" matInput formControlName="master" placeholder="Target object"></textarea>
  </mat-form-field>
</form>

<mat-tab-group *ngIf="differencesSlaveVersusMaster">
  <mat-tab label="Result" *ngIf="overwritten">
    <form [formGroup]="form">
      <mat-form-field>
        <mat-select formControlName="spacing" placeholder="Formatting/Spacing">
          <mat-option *ngFor="let option of spacingOptions" [value]="option.value">
            {{ option.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button (click)="addToClipboard()" type="button">
        Add to clipboard
      </button>
    </form>
    <mat-tab-group>
      <mat-tab label="Formatted && pretty">
        <ngx-json-viewer *ngIf="overwritten" [json]="overwritten"></ngx-json-viewer>
      </mat-tab>
      <mat-tab label="Formatted raw text">
        <div class="pre-wrap" [innerHTML]="overwrittenText"></div>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab label="Difference">
    <ngx-json-viewer *ngIf="differencesSlaveVersusMaster" [json]="differencesSlaveVersusMaster"></ngx-json-viewer>
  </mat-tab>
</mat-tab-group>

